body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: relative;
}

header h1 {
  margin: 0;
}

.university-info {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff; /* Change text color to white */
}

.university-info > div {
  display: flex;
  align-items: center;
  margin-right: 10px;
  opacity: 0.6;
}

.university-info img {
  width: 24px;
  margin-right: 5px;
}

.university-info h2 {
  margin: 0;
  margin-left: 5px;
}

main {
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
  flex: 1;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 300px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #3a76c5;
  color: #fff;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  width: 150px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #555;
}

.fade-logo {
  width: 20px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

input[type="text"]:valid + .fade-logo,
input[type="email"]:valid + .fade-logo,
textarea:valid + .fade-logo {
  opacity: 0;
}

.social-links {
  text-align: center;
  margin-top: 20px;
}

.social-links img {
  width: 32px;
  margin-left: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
